* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    text-align: center;
    justify-content: center;
}

header a {
    color: rgb(121, 120, 120);
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: white;
    transform: scale(1.20);
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 40px;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    text-align: center;
}

.img img {
    display: inline-block;
    width: 700px;
    height: auto;
    border-radius: 10px;
}

section.texto {
    padding: 40px 10%;
}

section.texto .flex {
    justify-content: space-between;
    display: flex;
}

.texto .txt h3 {
    color: white;
    font-size: 30px;
    margin-top: 150px;
}

.txt ul {
    color: white;
    margin-top: 35px;
}

.txt ul li {
    font-size: 15px;
    padding-top: 30px;
}

.txt a {
    text-decoration: none;
    color: white;
}

.txt p {
    text-decoration: none;
    color: rgb(147, 147, 147);
}

.texto .resumo h3 {
    color: white;
    font-size: 30px;
    margin-top: 150px;
}

.resumo p {
    margin-top: 35px;
    text-decoration: none;
    color: rgb(147, 147, 147);
}

.txt,
.resumo {
    width: 48%;
}

.imagem {
    text-align: center;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img img {
    max-width: 100%;
}

.img .imagens-baixo {
    display: flex;
    gap: 20px;
    justify-content: center;
}