* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.contato button:hover {
    transform: scale(1.05);
    transition: .2s;
}

h2.titulo {
    columns: white;
    font-size: 38px;
    text-align: center;
    color: white;
}

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    text-align: center;
    justify-content: center;
}

header a {
    color: rgb(121, 120, 120);
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: white;
    transform: scale(1.20);
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 40px;
}

section {
    margin: 0 auto;
}

section.topo {
    padding: 70px 4%;
}

section.topo .flex {
    align-items: center;
    justify-content: center;
    gap: 25%;
}

.topo h1 {
    color: white;
    font-size: 70px;
    text-align: center;
}

.topo .topo-site p {
    color: white;
    margin: 40px 0;
    font-size: 20px;
}

.topo .topo-site .contato a {
    text-decoration: none;
}

.topo .topo-site a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

section.projetos {
    padding: 40px 4%;
}

section.projetos .flex {
    gap: 60px;
}

.projetos .projetos-box {
    color: white;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid rgb(154, 154, 154);
    margin-top: 45px;
}

.projetos .projetos-box:hover {
    transform: scale(1.05);
    transition: .2s;
}

.projetos .projetos-box i {
    font-size: 70px;
}

.projetos .projetos-box h3 {
    font-size: 54px;
    margin: 15px 0;
}

.projetos .projetos-box h3 a {
    text-decoration: none;
    color: white;
}

.projetos .projetos-box .ling {
    margin-top: 25px;
    font-size: 20px;
}

section.ensino-emprego {
    padding: 40px 4%;
}

section.ensino-emprego .flex {
    justify-content: space-between;
    display: flex;
}

.ensino-emprego .flex .txt-ensino h2 {
    color: white;
    font-size: 50px;
    margin-top: 60px;
}

.ensino-emprego .flex .txt-ensino ul {
    list-style-type: none;
    margin-top: 35px;
}

.ensino-emprego .flex .txt-ensino ul li {
    font-size: 25px;
    padding-top: 30px;
}

.ensino-emprego .flex .txt-ensino a {
    text-decoration: none;
    color: white;
}

.ensino-emprego .flex .txt-ensino p {
    text-decoration: none;
    color: rgb(147, 147, 147);
}

.ensino-emprego .flex .txt-emprego h2 {
    color: white;
    font-size: 50px;
    margin-top: 60px;
}

.ensino-emprego .flex .txt-emprego ul {
    list-style-type: none;
    margin-top: 35px;
}

.ensino-emprego .flex .txt-emprego ul li {
    font-size: 25px;
    padding-top: 30px;
}

.ensino-emprego .flex .txt-emprego a {
    text-decoration: none;
    color: white;
}

.ensino-emprego .flex .txt-emprego p {
    text-decoration: none;
    color: rgb(147, 147, 147);
}

section.skills {
    padding: 80px 4%;
}

section.skills .flex {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.skills .flex .hard-skills h2,
.soft-skills h2 {
    color: white;
    font-size: 54px;
    margin-top: 60px;
}

.skills .flex .hard-skills ul li,
.soft-skills ul li {
    color: white;
    padding-top: 30px;
}

.skills .flex .hard-skills a,
.soft-skills a {
    text-decoration: none;
    color: white;
}

.skills .flex .hard-skills a,
.soft-skills a {
    text-decoration: none;
    color: white;
}

section.formulario {
    padding: 80px 4%;
}

.formulario h2 {
    font-size: 54px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    border-radius: 15px;
    outline: 0;
    padding: 20px 15px;
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 18px;
}

form input::placeholder,
form textarea::placeholder {
    color: white;
}

form textarea {
    resize: none;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 120px;
    font-weight: 700;
    cursor: pointer;
}

footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: center;
}

footer .line-footer {
    padding: 20px 0;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transform: scale(1.05);
    transition: .2s;
}

footer .line-footer p {
    text-align: center;
    font-size: 20px;
}

footer .line-footer p i {
    color: white;
    font-size: 22px;
}

footer .line-footer p a {
    color: white;
}

.border .borda {
    border-top: 2px solid white;
}